@model IEnumerable<Rkna_Project.Models.Governorate_Table>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index Of All Governorate</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table ">
    <tr>
        <th>
            @Html.Label("Governorate Name")
        </th>
        <th>
            @Html.Label("Governorate Description")  
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gov_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gov_Desc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Gov_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.Gov_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Gov_ID })
            </td>
        </tr>
    }

</table>