@model IEnumerable<Rkna_Project.Models.Area_Table>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table  w-auto small">
    <tr>
        <th>
            @Html.Label("Area Name")
        </th>
        <th>
            @Html.Label("Area Description")
        </th>
        <th>
            @Html.Label("Area Hour Rate")
        </th>
        <th>
            @Html.Label("Area Start Time")
        </th>
        <th>
            @Html.Label("Area End Time")
        </th>
        <th>
            @Html.Label("User Email")
        </th>
        <th>
            @Html.Label("Email")
        </th>
        <th>
            @Html.Label("States Name")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Area_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area_Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area_Hour_Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area_Start_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area_End_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser1.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.States_Table.States_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Area_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Area_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Area_ID })
        </td>
    </tr>
}

</table>
