@model Rkna_Project.Models.Slut_Table

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Are you sure you want to delete @Html.DisplayFor(model => model.Name)? </h2>

<h3></h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Slut Level")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slut_Level)
        </dd>

        <dt>
            @Html.DisplayName("Slut State")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slut_State)
        </dd>

        <dt>
            @Html.DisplayName("Area Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area_Table.Area_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
