@model Rkna_Project.Models.Car_Specifications_Table

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Car_Specifications_Table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Care_Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Care_Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car_plate_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car_plate_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Car_Spe_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
