<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=100%, initial-scale=1.0">
    <title>Rkna Project</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
            <a class="navbar-brand" href="/">Rkna Project</a>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    @if (@Html.GetCurrentUserRule() == "manger" || @Html.GetCurrentUserRule() == "admin")
                    {
                        <li class="nav-item"><a href="/Company_Table/Index" class="nav-link">Company Info</a></li>
                        <li class="nav-item"><a href="/Governorate_Table/Index" class="nav-link">Governorate</a></li>
                        <li class="nav-item"><a href="/States_Table/Index" class="nav-link">States</a></li>
                        <li class="nav-item"><a href="/Area_Table/Index" class="nav-link">Area</a></li>
                        <li class="nav-item"><a href="/Slut_Table/Index" class="nav-link">Slut</a></li>
                        <li class="nav-item"><a href="/Car_Specifications_Table/Index" class="nav-link">Car Specifications</a></li>
                        <li class="nav-item"><a href="/Customer_Slut_Table/Index" class="nav-link">Customer Slut</a></li>
                        @*<input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-success" type="submit">Search</button>*@
                    }
                    <li class="nav-item"><a href="/Home/About" class="nav-link">About Us</a></li>
                    <li class="nav-item"><a href="/Home/Contact" class="nav-link">Contact Us</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ITI .Net Full Stack Development Team </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
