<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=100%, initial-scale=1.0">
    <title>Rkna Project</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
            <a class="navbar-brand" href="/">Rkna Project</a>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class=" navbar-nav mr-auto">
                  
                    @if (@Html.GetCurrentUserRule() == "admin")
                    {
                        <li class="nav-item"><a href="/Manag_Account/Index" class="nav-link">Account</a></li>

                    }
                    @if (@Html.GetCurrentUserRule() == "manger" || @Html.GetCurrentUserRule() == "admin")
                    {
                        <li class="nav-item"><a href="/Company/Index" class="nav-link">Company</a></li>
                        <li class="nav-item"><a href="/Governorate/Index" class="nav-link">Gov</a></li>
                        <li class="nav-item"><a href="/States/Index" class="nav-link">States</a></li>
                        <li class="nav-item"><a href="/Area/Index" class="nav-link">Area</a></li>
                        <li class="nav-item"><a href="/Slut/Index" class="nav-link">Slut</a></li>
                        <li class="nav-item"><a href="/Car/Index" class="nav-link">Car</a></li>
                        <li class="nav-item"><a href="/Customer/Index" class="nav-link">Cus Slut</a></li>

                    }
                    @if (@Html.GetCurrentUserRule() == "user")
                    {
                        <li class="nav-item"><a href="/Car/Create" class="nav-link">Car</a></li>
                        <li class="nav-item"><a href="/Customer/Create" class="nav-link">Cus Slut</a></li>

                    }
                    
                    <li class="nav-item"><a href="/Home/About" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="/Home/Contact" class="nav-link">Contact</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ITI .Net Full Stack Development Team </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
