@model Rkna_Project.Models.States_Table

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>States_Table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.States_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.States_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.States_Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.States_Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Governorate_Table.Gov_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Governorate_Table.Gov_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.States_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
